* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  position: absolute;
  font-size: xx-large;
  font-weight: bolder;
  color: #5c13af;
}

.loader {
  position: relative;
  height: 240px;
  width: 240px;
  box-shadow: 0 4px 0 #5c13af;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}